<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>Jamais404</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}"/>

    <!-- STYLES -->
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <header>
        <nav>
            <div class="nav-wrapper pink white-text">
                <a href="/" class="left brand-logo">Jamais 404</a>
                <ul id="nav-mobile" class="right">
                    <li><a th:href="@{'user?username=' + ${active}}"><i class="material-icons">account_circle</i></a></li>
                    <li>
                        <form method="post" th:action="@{logout}">
                            <button type="submit"><i class="material-icons">exit_to_app</i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="container">
            <div class="center">

                <h1 class="main-title word-break" th:utext="${url}"></h1>

                <section>
                    <p class="text">This URL has been found by <a th:href="@{'user?username=' + ${userLink}}" class="pink-text text-darken-2" th:utext="${username}"></a> on <span th:utext="${datetime}"></span></p>
                </section>

                <section>
                    <h2 class="subtitle">Comments</h2>

                    <ul class="comments">
                        <li th:each="comment : ${comments}">
                            <p class="text comment-info"><a th:href="@{'user?username=' + ${comment.user.username}}" class="pink-text text-darken-2" th:utext="${comment.user.username}"></a><span th:utext="${comment.datetime}"></span></p>
                            <p class="text comment-text grey-text" th:utext="${comment.text}"></p>
                        </li>
                    </ul>

                </section>

                    <form id="form-comment" th:action="@{comment}" method="post">

                        <div class="input-field">
                            <label for="input-comment">Add a comment...</label>
                            <textarea id="input-comment" name="text" class="materialize-textarea" required></textarea>
                        </div>

                        <input name="url" hidden required th:value="${url}">

                        <button class="btn btn-large waves-effect waves-light blue" type="submit">COMMENT</button>

                    </form>

                <section>

                </section>

                <h2 class="subtitle">Don't give up !</h2>

                <form id="form-search-page" th:action="@{search}" method="post">

                    <div class="input-field">
                        <input id="search-input" name="query" type="text" class="validate" placeholder="Search URL..." autocomplete="off" required>
                    </div>

                    <button class="btn btn-large waves-effect waves-light deep-purple" type="submit">SEARCH</button>

                </form>

            </div>
        </div>
    </main>

    <span id="msg" th:utext="${msg}" hidden></span>

    <script>
        document.addEventListener('DOMContentLoaded', (evt) => {
            M.toast({ html: 'Page already found !' })
        })
    </script>

    <script th:if="${msg != null}">
        document.addEventListener('DOMContentLoaded', (evt) => {
            let msg = document.querySelector('#msg').innerHTML;
            
            if (msg.length > 0) {
                M.toast({ html: msg })
            }
        })
    </script>

    <footer></footer>

    <!-- SCRIPTS -->
    <script th:src="@{/js/materialize.min.js}"></script>

</body>
</html> 